//------------------------------------
// $HELPERS
//------------------------------------

//!\ No dependencies

// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/

%cf {
	&::before,
	&::after {
    	content: "";
    	display: table;
    }

    &::after { clear: both; }
}
